* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  place-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

header nav {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding-right: 15px;
  color: black;
  transition: 0.8s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
}

.logo {
  border-radius: 5px;
}

.bg-img {
  position: absolute;
  bottom: 0%;
  height: 100vh;
  width: 100vw;
  background-image: url("./schoollogo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100vw;
  height: 70vh;
  padding: 0px 24px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#hero .hero-content h1 {
  font-size: 30px;
  text-align: center;
}

#hero .hero-content a {
  padding: 5px 5px;
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #000;
  width: fit-content;
  border-radius: 50px;
}

#hero .hero-content a:hover {
  color: white;
  /* border: 1px solid white; */
  text-decoration: none;
  transition: all 0.3s ease;
  transition-duration: 500ms;
}

#hero .hero-content p {
  margin: 15px;
}

#hero {
  align-items: center;
  align-content: center;
  text-align: center;
  text-align: center;
  /* width: 100vw; */
  height: 70vh;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  z-index: 2;
  text-align: center;
  height: 100%;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px 24px 15px;
}

.footer-navs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

footer .footer-navs ul li {
  list-style: none;
}

footer .footer-navs,
.links,
.student,
.info,
.socials {
  text-align: left;
}

footer .footer-navs .links,
.student,
.info,
.socials,
li {
  padding: 10px 10px 10px 0px;
  font-weight: 500;
}

.footer-navs p {
  font-weight: bold;
  width: fit-content;
  border-bottom: 3px solid #000;
  color: whitesmoke;
}

footer p {
  font-size: large;
  justify-content: center;
  width: 100%;
}

.copy-right {
  font-size: medium;
}

@media (min-width: 768px) {
  #hero .hero-content h1 {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-right: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    border-radius: 5px;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    border-radius: 5px;
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }

  .copy-right {
    font-size: xx-small;
  }
}
