* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  height: 100%;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 48px;
    line-height: 1;
  }
}
